body{
    background: #FFF;
}
.header{
    width: flex;
    height: 117px;
    flex-shrink: 0;
    background: #D22F2F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__title{
    font-style: normal;
    text-align: center;
    margin-top: 28px;
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
}
main{
    padding: 40px 86px 74px 86px;
}
.footer{
    width: flex;
    height: 159px;
    flex-shrink: 0;
    background: #D22F2F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__title{
    font-style: normal;
    text-align: center;
    margin-top: 28px;
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
}
.hero{
    width: 100%;
    height: auto;
    max-height: 586px;   
}
.hero img{
    border-radius: 26px;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 586px; 
}
.about__title{
    font-style: normal;
    text-align: center;
    margin-top: 28px;
    font-size: 40px;
    font-weight: 700;
    color: #000;
}
.about__title span{
    color: #FE0505;
}
.about__desc{
    margin: 0 8px 74px 8px;
    font-style: normal;
    text-align: center;
    font-size: 28px;
    color: #000;
}
.about__images{
    display: flex;
    justify-content: space-between;
}
.about__images img{
    border-radius: 12px;
    width: 30%;
    height: auto;
    object-fit: contain;
    max-height: 586px; 
}
@media screen and (max-width: 680px) {
    main{
        padding: 28px 40px 34px 40px;
    }
}
@media screen and (max-width: 420px) {
    .about__images img{
        width: 100%;
        margin-bottom: 12px;
    }
    .about__images{
        display: block;
    }
    .footer__title, .header__title{
        font-size: 30px;
    }
    .about__desc{
        margin: 0 0 34px 0;
        font-size: 20px;
    }
}